.letscard-table {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 30px;
  border: 10px double darkgreen;
  background: green;
  box-shadow: inset 0 0 150px darkgreen, 5px 15px 30px black;
  background-size: 100% 100%;
  overflow: hidden;
  cursor: crosshair;
}
.letscard-card {
  position: absolute;
  width: 100px;
  height: 150px;
  border: 4px solid white;
  border-radius: 4px;
  background-color: whitesmoke;
  background-size: 100% 100%;
  box-shadow: inset 0 0 1px black, 0 0 2px black;
  cursor: grab;
  transition: margin 0.2s ease, box-shadow 0.2s ease;
}
.letscard-card-supe {
  width: 80px;
  height: 120px;
  border: 1px solid white;
}
.letscard-card.covered {
  background: darkblue;
  background-size: 100% 100%;
  box-shadow: inset 0 0 50px black, 0 0 2px black;
}
.letscard-card.dragging {
  cursor: grabbing;
  margin: -5px 0 0 0;
  box-shadow: inset 0 0 1px black, 0 5px 5px black;
}
.letscard-card.dragging.covered {
  box-shadow: inset 0 0 50px black, 0 5px 5px black;
}
